fieldset{
    display: flex;
    flex-direction: column;
}
#loginBtn{
    width: 70px;
    margin-left: 137px;
    margin-top: 15px;
    display: inline;
}
#createBtn{
    width: 70px;
    margin-left: 20px;
    margin-top: 15px;
    position: absolute;
    top:114px;
    left:207px
}
form{
    width:350px;
    position: absolute;
    left: 40%;
    top: 40%;
}
#inputId{
    margin-left: 56px;
}
#inputPw{
    margin-left: 40px;
}

